@import 'bootstrap';

body {
    
}

#header img{
  padding-top: 10px;
}

#header a{
 color: #c2c7d0;
}

.header-dark{
  background-color: rgba(0, 0, 0, 0.8);
}

#vertical-menu  {
  background-color: #343a40;
  color: #c2c7d0; 
  border-top: 1px solid rgb(75, 84, 92);
  padding-top: 25px;
  padding-left: 15px;
  width: 100%;
}

#vertical-menu a {
  color: #c2c7d0 ;
  text-decoration: pink;
}

#content {
	padding: 25px;
    font-size: 11px;
    min-height: 300px;
}

.error{
  color: #dc3545;  
}
