@import 'bootstrap';
body {
    
}
 
.header-dark-suma {
 background-color: rgba(0, 0, 0, 0.8);
}

#header{
 padding-top: 10px;
}

#header a{
 color: #c2c7d0;
}

 #vertical-menu  {
  background-color: #343a40;
  color: #c2c7d0 ;
  min-height: 300px;
  border-top: 1px solid rgb(75, 84, 92);
  padding-top: 25px;
  padding-left: 15px;
  width: 100%;
}

#vertical-menu a {
  color: #c2c7d0 ;
  text-decoration: pink;
}
