  {% extends 'layout.html.twig' %}

  {% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
 
      function addUser()
      {
          location.href = "/user/new";
      }

      $(document).ready(function() {

          $('#list').DataTable({
              "searching": true,
              "language": {
                  "lengthMenu": "Mostrar _MENU_ registros por p치gina",
                  "zeroRecords": "Sin registros que mostrar",
                  "info": "Mostrando p치gina _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay registros disponibles",
                  "paginate": {
                      "previous": "Anterior",
                      "next": "Siguiente",
                  },
                  "search": "Buscar"
              },
              "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
              "ajax": "{{ url('user_data_list') }}",
              "columns": [
                  { 
                      data: null,
                      title: "Nombre",
                      render: function ( data, type, row ) {
                          return  data.name;
                      }
                  },
                  { 
                      data: null,
                      title: "Usuario",
                      render: function ( data, type, row ) {
                          return  data.username;
                      }
                  },
                  { 
                      data: null,
                      title: "Roles",
                      render: function ( data, type, row ) {
                          return  data.roles;
                      }
                  },
                  { 
                      data: null,
                      title: "Fecha creaci칩n",
                      render: function ( data, type, row ) {
                          return  data.createdAt;
                      }
                  },
                  { 
                      data: null,
                      title: "Fecha actualizaci칩n",
                      render: function ( data, type, row ) {
                          return  data.updatedAt;
                      }
                  },
                  {
                      data: null,
                      orderable: false,
                      render: function ( data, type, row ) {
 
                         return "<a href='/user/" + data.id + "/edit'>Editar</a>";
                      }
                  },
                  {
                      data: null,
                      orderable: false,
                      render: function ( data, type, row ) {
 
                         return "<a href='/user/" + data.id + "/delete'>Eliminar</a>";
                      }
                  } 
              ],
          });
 
      } );
    </script>
  {% endblock %}

 
  {% block content %}
    <legend>{% trans %} menu.usuarios {% endtrans %}</legend>
    <table id="list" class="display" style="width:100%">
    </table>

    <div class="row">
       <div class="col-sm-12" >
           <button type="button" class="btn btn-primary" style="display: flow-root; margin: 0 auto;" onclick="addUser()">{% trans %} new {% endtrans %}</button>
       </div>
    </div>
 

  {% endblock %}